<div class="section" id="skill" style="margin-right: 00px; color: aliceblue;">
    <div class="container" >
        <!-- <div class="h4 text-center mb-4 title">Research</div> -->
        <div class="card mb-3" style="max-width: 940px; max-height: 1800px;">
            <div class="row g-0">
              <div class="col-md-4">
                <video controls src="/assets/videos/sentimental.mp4" alt="Video" class="img-fluid rounded-start"> </video>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.
                  </p>
                </div>
              </div>
            </div>
          </div>
          
       <!--  <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6" *ngFor="let skill of skillsData">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">{{skill.skill}}</span>
                            <div class="progress" style="height: 5px;">
                                <div class="progress-bar progress-bar-secondary" data-aos="progress-full"
                                    data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60"
                                    aria-valuemin="0" aria-valuemax="100" [style.width]="skill.progress"></div>
                                <span class="progress-value"></span>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <br> <br> <br> <br> <br> v-->