.skill-card {
    max-width: 400px;
    margin: 5px;
    /* background-image: url(../../../assets/bg1.jpeg); */
  }
  
  ::ng-deep .example-header-image {
    background-color: rgb(181, 117, 33);
    background-size: cover;
  }
  .container{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
  .container >*{
    flex: 1 1 400px;
  }
 