<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title" style="color: aliceblue;">Projects</div>
 <!-- <div style="margin-left: 600px;">
    <pagination-controls (pageChange)="pageChanged($event)" ></pagination-controls>
 </div> -->
       
        <div class="row">

            <ng-container *ngFor="let project of projects | paginate: config">
                <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft" style="padding-bottom: 30px;">
                    <div class="blog-entry">
                        <div class="card">
                            <video controls>
                                <source src="{{project.imgUrl}}" type="video/mp4"> 
                            </video>
                            <div class="card-body">
                                <h4 class="card-title">{{project.title}}</h4>
                                <h5 class="card-text"><b>Technology :</b> {{project.technology}} </h5>
                                <h5 class="card-text"><b>About Project : </b>{{project.description}}</h5>
                                <div><a href="{{project.githurl}}" class="btn btn-outline-primary" style="margin-left: 180px"> <fa-icon class="fa fa-github " [icon]="faGithub"></fa-icon></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <div style="margin-left: 600px; font-weight: bold; color: rgb(122, 59, 152);">
            <pagination-controls (pageChange)="pageChanged($event)" ></pagination-controls>
         </div>
    </div>
</div>