<header style="background-color: #6F00FF; border: none;">
  <div class="profile-page sidebar-collapse" style="background-color: #6F00FF; border: none;">
      <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #6F00FF;">
          <div class="collapse navbar-collapse justify-content-end" id="navigation" style="background-color: #6F00FF; border: none;">
              <ul class="navbar-nav" style="font-family: 'Gilroy'; font-weight: bolder; font-size: 25px;">
                  <li class="nav-item">
                      <a class="nav-link smooth-scroll" href="#about">About</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link smooth-scroll" href="#experience">Experience</a>
                  </li>
                  <!-- <li class="nav-item">
                      <a class="nav-link smooth-scroll" href="#extra-curricular">Extra Curricular</a>
                  </li> -->
                  <li class="nav-item">
                      <a class="nav-link smooth-scroll" href="#projects">Projects</a>
                  </li>
                  <!-- <li class="nav-item">
                      <a class="nav-link smooth-scroll" href="#skill">Skills</a>
                  </li> -->
                  <li class="nav-item">
                      <a class="nav-link smooth-scroll" href="#research">Research Experience</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link smooth-scroll" href="#contact">Contact</a>
                  </li>
              </ul>
          </div>
      </nav>
  </div>
</header>
