<div class="container">
  <mat-card class="skill-card"  *ngFor = "let skill of skills" >
    <mat-card-header style="background-color: rgb(165, 196, 98); padding-top: 15px; height: 50px;">
      <div mat-card-avatar></div>
      <mat-card-title>{{skill.title}}</mat-card-title>
      <!-- <mat-card-subtitle>Skills</mat-card-subtitle> -->
    </mat-card-header>
    <img mat-card-image src={{skill.src}} alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>{{skill.description}}</p>
    </mat-card-content>
  </mat-card>
</div>