<!-- <div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">

  </div>
  <div class="nav-btn">
      <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
      </label>
  </div>
</div> -->
<app-menu appResponsive></app-menu>
<app-banner appResponsive></app-banner>
<app-home appResponsive></app-home>
<app-contact appResponsive></app-contact>
<app-about appResponsive></app-about> 
<app-projects appResponsive></app-projects>
<app-experience appResponsive></app-experience>
<app-footer appResponsive></app-footer>


<!-- <router-outlet></router-outlet> -->