:host{
    display: block;
    padding: 3rem 2rem;
}
.container{
    gap: 2rem;
    display: grid;
    border: none;
    overflow-x:hidden;
    margin-right: 400px;
}

section p{
    font-size: 1.2rem;
    text-align: justify;
    height: 100%;
}
/* pc */


:host.pc{
    margin-top: 3rem;
}
/* :host.pc .container{
    grid-template-columns: 1fr 1fr;
} */
/* :host.pc h1{
    grid-column: 1/3;
} */
:host.pc section,:host.pc table{
   width: 80%;
   margin: auto;
}
/* :host.pc .profile{
    grid-row: 1/3;
    grid-column: 2/3;
    width: 600px;
    height: 600px; 
} */

.card {
    border: none;
    overflow-x:hidden;
    border: 0;
    border-radius: 0.1875rem;
    background-color: transparent;
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 60%;
    height: 700px;
    margin-bottom: -40px;
    margin-left: 280px;
    font-size: 14px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);

            margin-top: 1em;
  }
  
  .card .card-body {
    min-height: 190px;
  }
  .title{
    color:rgb(4, 4, 4);
    font-weight: bold;
    align-items: center;
    margin-left: 280px;
    font-size: 22px;
    margin-top: 20px;
  }
  #hidden-audio {
    display: none;
  }
#hidden-audio::-webkit-media-controls-panel,
#hidden-audio::-webkit-media-controls {
  display: none !important;
}
.button{
    position:relative; 
    /* top: 20%; */
    left: 3%;
    text-align: center;
    padding: 0 15px;
    color: #6F00FF;
    width: 100%;
    max-width: 880px;
  }