<div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);align-items: center;">
    <div class="container" id="introduction">
        <section>
            <div class="title">
                <span style="align-items: center;">About Me</span>
            </div>
            <p *ngFor="let sentence of aboutMe" style="font-size: 14px; color: black; margin-top: 20px;align-items: center;">
                {{sentence}}
            </p>
        </section>
    </div>
</div>