<div class="container" id="about">
    <div class="title">
        <span> My Portfolio</span>
    </div>
    <div class="name">
        <span>
            <span> Hi, <div class="wave">👋🏾</div> </span> I am 
        </span><br><br><br>
        <span>Nirodha <br><br><br> Malalagama</span> <br><br><br>
        <span>Software Developer</span>
    </div>
    <div class="profile" data-aos="fade-up">
        <div class="profile-bg"></div>
        <img src="../../assets/images/img_1.jpeg" alt="">
    </div>
</div>
