<div class="container" id="about">
    <div class="col-md-6 name" data-aos="fade-down">
        <span>
            <span style="color: aliceblue;"> Hi, <div class="wave" data-aos="fade-down">👋🏾</div> </span> I am
        </span><br><br><br>
        <span data-aos="fade-down" style="color: aliceblue;">Nirodha <br><br><br> Malalagama</span> <br><br><br>
        Software Engineer<br>
        <span data-aos="fade-down" style="font-family: 'Gilroy'; font-size: small;"> MSc (Pera.) / Bsc (Ruhuna)</span>
    </div>
    <div class="col-md-6 profile" data-aos="fade-up">
        <div class="profile-bg"></div>
        <img src="../../assets/images/img_1.jpg" style="height: 600px; width: 870px;" alt="">
    </div>
</div>